<div class="header">
  <span>Business Process Models</span>
  <div class="processButton">
    <p-button (click)="addDiagram()" size="small" severity="info"
      >Create Process</p-button
    >
    <p-button (click)="uploadDiagram()" size="small" severity="info"
      >Import Process</p-button
    >
  </div>
</div>
<app-dialog
  [visible]="visible"
  (isSubmitChange)="isSubmitChange($event)"
></app-dialog>
<app-upload-dialog
  [uploadVisible]="uploadVisible"
  (isUploadSubmitChange)="isUploadSubmitChange($event)"
></app-upload-dialog>

<div class="search">
  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-search"></i>
    </p-inputGroupAddon>
    <input type="text" pInputText placeholder="Search" />
  </p-inputGroup>

  <p-splitButton
    [label]="currentSortName"
    [model]="items"
    severity="secondary"
    size="small"
  ></p-splitButton>
</div>

<div class="content">
  <div class="title">
    <span class="menu-title">My processes</span>
  </div>
  @if (!diagramsList.length) {
  <div class="noDataInfo">
    <div>
      It looks like you have not created any business process models yet. You
      can design process models, user forms and then bundle them up into a
      process app to share with any colleagues. The first step is to create a
      process model:
    </div>
    <div>
      <i class="pi pi-plus-circle" (click)="addDiagram()"></i>
      Create a BPMN model using the BPMN Visual Editor.
    </div>
    <div>
      <i class="pi pi-plus-circle" (click)="uploadDiagram()"></i>
      You can also import existing BPMN models.
    </div>
  </div>
  } @else {
  <div class="list">
    @for (item of diagramsList; track $index) {
    <p-card
      [header]="'v' + item.name"
      subheader="Card Subheader"
      (click)="loadDiagram(item)"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/png/example.png" />
      </ng-template>
      <p>{{ item.name }}</p>
      <p><i class="pi pi-user"></i></p>
      <p><i class="pi pi-clock"></i>{{ item.modifyTime }}</p>
    </p-card>
    }
  </div>

  }
</div>
