:host ::ng-deep .main-tab .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: #2d2d2d;
}

:host ::ng-deep .main-tab .p-tabmenu .p-tabmenu-nav{
  background: #2d2d2d;
  border: none
}
